body
{
	background-color: lightpink;
}
#homeMenu
{
	width: 100%;
	height: 80px;
	background-color: lightblue;
}
#logo
{
	width: 30vw;
	height: 80px;
	display: inline-block;
	background-color: lightgreen;
}
#goback
{
	width: 80px;
	height: 80px;
	display: inline-block;
	float: right;
	background-color: red;
}
#help
{
	width: 80px;
	height: 80px;
	display: inline-block;
	float: right;
	background-color: lightgreen;
}
#registrationbox
{
	height: 400px;
	width: 300px;
	background-color: orange;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#loginlogo
{
	height: 70px;
	width: 250px;
	background-color: lightgreen;
	margin: auto;
	margin-top: 20px;
}
#username, #password, #name, #email, #github
{
	height: 30px;
	width: 250px;
	background-color: lightgreen;
	margin: auto;
	margin-top: 20px;
}
#register
{
	height: 30px;
	width: 100px;
	background-color: lightgreen;
	margin: auto;
	margin-top: 30px;
}

body {
	background-color: #4BDBC3;
	background-image: -webkit-linear-gradient(65deg, #E8505B 50%, #F8F7DE 50%);
	min-height: 1000px;
  }

  #ui {
	background-color: #333;
	padding: 30px;
	margin-top: 50px;
	border-radius: 10px;
	opacity: 0.92;
	font-weight: bold;
  }

  #ui label,
  h1 {
	color: #fff;
  }
