body
{
	font-family: Verdana,sans-serif;
}
#homeMenu
{
	padding: 5px;
}
#logo
{
	width: 400px;
	height: 80px;
	display: inline-block;
	font-family: 'Cursive', 'Lucida Handwriting';
	background-color: white;
	text-align: center;
	font-size: 30px;
	color: green;
	border-radius: 30px;
	font-weight: bold;
	box-shadow: 0px 0px 10px blue;
	float: left;
}
#modal
{
	z-index: 100;
	width: 100%;
	background-color: #474e5d;
	position: fixed;
	opacity: 0.9;
	height: 100%;
	display: none;
}
#wait
{
	z-index: 100;
	width: 100%;
	background-color: #474e5d;
	position: fixed;
	opacity: 0.9;
	height: 100%;
	display: none;
}
#loader 
{
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	margin:auto;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#modal button 
{
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	float: left;
	width: 50%;
}
#modal button:hover 
{
	opacity:1;
}
#modal #yes
{
	background-color: #f44336;
	color: black;
}
#modal #no
{
	background-color: #ccc;
}
#modal h1, #modal p, #wait h1
{
	text-align: center;
}
#modal > div
{
	background-color: #fefefe;
	width: 600px;
	opacity: 1;
	margin: auto;
	margin-top: 100px;
	height: 200px;
	padding: 20px;
}
#wait h1
{
	color: white;
	left: 50%;
	text-align: center;
}
#wait > div
{
	padding: 20px;
	opacity: 1;
	margin: auto;
}
#projectname
{
	width: 400px;
	font-family: 'Cursive', 'Lucida Handwriting';
	display: inline-block;
	background-color: white;
	text-align: center;
	font-size: 30px;
	color: green;
	padding: 20px;
	float: left;
	border-radius: 30px;
	font-weight: bold;
	margin-left: 30px;
	box-shadow: 0px 0px 10px blue;
	margin-top: 0px;
}
#goback
{
	width: 120px;
	height: 80px;
	display: inline-block;
	float: right;
}
#help
{
	width: 100px;
	height: 80px;
	display: inline-block;
	float: right;
}
#helpbutton,#gobackbutton
{
	margin-top: 16px;
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 30px;
	box-shadow: 0px 0px 10px lightblue;
}
#helpbutton:hover, #gobackbutton:hover
{
	background: #2196F3;
	color: white;
}
#logopng
{
	height: 80px;
	width: 80px;
	border-radius: 10px;
	margin-left: 20px;
}
#projectBox
{
	display: grid;
	margin-top: 100px;
	width: 100%;
	grid-template-columns: 200px auto 300px;
	grid-gap: 10px;

}
#projectBox > div
{
	/*box-shadow: 0px 0px 10px blue;*/
	padding: 5px;
	box-sizing: border-box;
}
#options
{
	height: 260px;
}
#board
{
	height: 500px;
}
#options > button
{
	/*background-color: rgb(192, 114, 247);*/
	height: 40px;
	width: 190px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border-width: 0px;
	margin-top: 2px;
	/*box-shadow: 0px 0px 5px blue;*/
}
#options > button:hover
{
	background-color: rgb(144, 0, 247);
	color: white;
	cursor: pointer;
}
#notices, #upcomingmeets, #duetasks, #latestcommits
{
	margin-top: 5px;
	background-color: white;
	height: 150px;
	width: 280px;
	/*background-color: rgb(232, 186, 255);*/
	border-style: solid;
	border-width: 2px;
	box-shadow: 0px 0px 3px blue;
}
#noticeshead, #upcomingmeetshead, #duetaskshead, #commits
{
	width: inherit;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
	background-color: #1abc9c;
}
#duetasks ul,#progressbox ul,  #upcomingmeets ul, #notices ul, #pretasks, #preNotices, #sprintTasks, #noticelist, #premeets, #overviewbox ul, #backlogsbox ul, #contributorsbox ul, #latestcommits ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 120px;
}
#duetasks ul::-webkit-scrollbar, #upcomingmeets ul::-webkit-scrollbar, #notices ul::-webkit-scrollbar, #latestcommits ul::-webkit-scrollbar
{
	display: none;
}
#duetasks ul li, #upcomingmeets ul li, #notices ul li, #pretasks li, #sprintTasks li, #noticelist li, #premeets, #latestcommits ul li
{
	margin-top: 5px;
}
#duetasks ul li div, #upcomingmeets ul li div, #latestcommits ul li div
{
	margin: 5px;
	border-radius: 5px;
}
#notices ul li div, #pretasks li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div, #latestcommits ul li div
{
	margin: 5px;
	background-color: lightyellow;
	padding: 3px;
	border-radius: 5px;
}
#pretasks li div, #preNotices li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div
{
	margin: 0px;
}
.thead, .mhead, .create, .nhead, #createsprint, #createscrum
{
	background-color: #b7dfb8;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px blue;
	font-color: black;
}
.create, #createsprint, #createscrum
{
	margin-top: 5px;
	font-size: 20px;
	padding: 5px;
}
.tactive, .thead:hover, .nhead:hover, .mactive, .mhead:hover, .create:hover, #createsprint, #createscrum
{
	background-color: #3d8b40;
}
.thead:after, .nhead:after, .mhead:after, .create:after, #createsprint, #createscrum
{
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.tactive:after, .mactive:after, .createactive:after
{
	content: '\2212';
}
#duetasks ul li div div, #upcomingmeets ul li div div, #latestcommits ul li div div
{
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: lightyellow;
	margin: 0px;
}
#duetasks ul li div div h5, #upcomingmeets ul li div div h5, #notices ul li div h5, #pretasks li div h5, #preNotices li div h5, #premeets li div h5, #sprintTasks li div h5, #noticelist li div h5, #backlogsbox ul li div h5, #latestcommits ul li div div h5
{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
#scrumbox h3, #scrumbox h2, #sprintbox h3, #sprintbox h2
{
	text-align: center;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}
#pretasks li div h6, #preNotices li div h6, #preNotices li div p, #pretasks li div p, #sprintTasks li div h6, #noticelist li div h6, #sprintTasks li div p, #noticelist li div p, #premeets li div h6, #premeets li div p, #backlogsbox ul li div h6, #backlogsbox ul li div > p, #board #notices li h5, #board #notices li p
{
	margin: 0px;
	padding: 0px;
}
#pretasks li div h6, #preNotices li div h6, #sprintTasks li div h6, #noticelist li div h6, #premeets li div h6, #backlogsbox ul li div h6
{
	font-size: 15px;
} 
#pretasks li div, #preNotices li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div 
{
	padding: 5px;
}
#pretasks, #premeets, #sprintTasks, #noticelist, #preNotices
{
	max-height: 600px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
	border-width: 1px;
	border-style: solid;
}
#pretasks li div, #premeets li, #sprintTasks li, #noticelist li, #preNotices li
{
	padding: 5px;
}
#pretasks li div button, #preNotices li div button, #sprintTasks li div button, #noticelist li div button, #premeets li div button, #backlogsbox ul li div button
{
	margin:auto;
	margin-left: 50px;
	background-color: #b7dfb8;
	font-size: 15px;
	padding: 4px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	border-width: 0px;
	margin-top: 2px;
	box-shadow: 0px 0px 5px blue;
}
#pretasks li div button:hover, #preNotices li div button:hover, #sprintTasks li div button:hover, #noticelist li div button:hover, #premeets li div button:hover, #backlogsbox ul li div button:hover
{
	background-color: #3d8b40;
}
#latestcommits ul li h3, #latestcommits ul li p
{
	margin: 0px;
	padding: 0px;
}
.title
{
	font-size: 25px;
	background-color: #1abc9c;
	padding:3px;
	border-radius: 3px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
}
#createTask, #createmeet, #createNotice, .edit
{
	font-size: 15px;
	box-shadow: 0px 0px 5px blue;
	margin-top: 5px;
	border-radius: 3px;
	background-color: lightyellow;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}
.edit
{
	padding: 5px;
	max-height: 400px;
}
#createTask h4, #createmeet h4, #createNotice h4, .edit h4
{
	text-align: left;
	padding: 4px;
	margin: 0px;
	font-size: 20px;
}
#createTask label, #createmeet label, #createNotice label, .edit label
{
	display: block;
	font-size: 20px;
	color: black;
	font-weight: bold;
	padding: 3px;
}
#createTask input, #createTask textarea, #createmeet input, #createmeet textarea, #createNotice input, #createNotice textarea, .edit input, .edit textarea
{
	box-shadow: 0px 0px 5px blue;
	font-size: 18px;
	padding: 5px;
	border-width: 0px;
	display: block;
	margin: 4px;
}
#createTask button, #createmeet button, #createNotice button, .edit button
{
	margin-left: 10px;
	background-color: #b7dfb8;
	font-size: 15px;
	padding: 4px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	border-width: 0px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
}
#nextStage
{
	float:right;
	font-size: 15px;
	color: black;
	font-weight:bold;
	padding: 4px;
	background-color: #b7dfb8;
	border-radius: 5px;
}
#createTask #taskDescription, #createmeet #meetDescription, #createNotice #noticeDescription
{
	width: 400px;
	height: 100px;
}
#createTask button:hover, #createmeet button:hover, #createNotice button:hover, .edit button:hover, #nextStage:hover
{
	background-color: #3d8b40;
}
.id
{
	font-size: 25px;
	font-weight: bold;
	display: inline;
	font-family: cursive;
}
.value
{
	font-size: 22px;
	font-family: sans-serif;
	display: inline;
}
#overviewbox ul, #progressbox ul
{
	max-height: 1000px;
	padding: 5px;
}
#backlogsbox ul
{
	max-height: 1000px;
	padding: 5px;
}
#createfolder
{
	padding = 5px;
}
#backlogsbox ul li
{
	margin-top: 2px;
}
#overviewbox ul li, #progressbox ul li, #backlogsbox > h4, #backlogsbox > p, #backlogsbox ul li > p
{
	border-radius: 10px;
	background-color: #b7dfb8;
	padding:5px;
	margin-bottom: 2px;
	color: black;
}
#contributorsbox ul
{
	max-height: 1000px;
}
#contributorsbox ul li
{
	padding: 5px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #3d8b40;
	font-size: 20px;
}
#contributorsbox ul li button
{
	float: right;
	padding: 2px;
	background-color: rgb(192, 114, 247);
	border-radius: 3px;
	color: black;
	font-weight: bold;
	border-width: 0px;
}
#contributorsbox ul li button:hover
{
	background-color: rgb(144, 0, 247);
	box-shadow: 0px 0px 5px blue;
	color: white;
}
.folder:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px blue;
	color: white;
}
#pretasks li
{
	padding: 10px;
}
#chart
{
	width: 800px;
	margin:auto;
	padding: 10px;
	height: 400px;
	box-shadow: 0px 0px 5px blue;
}
#tasks
{
	height: 600px;
}
#pretasks li div h5
{
	border-radius: 10px;
	background-color: lightgreen;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}
#pretasks button
{
	min-width: 70px;
}
#pretasks textarea
{
	min-width: 400px;
	min-height: 100px;
}
#pretasks li div h6
{
	border-radius: 10px;
	background-color: lightpink;
	padding: 5px;
	max-height: 200px;
}
.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: grey;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.circle:hover .tooltiptext {
	visibility: visible;
}
.circle > div:hover{
	outline-width: 10px;
}
.stages
{
	width: 200px;
	height: 100px;
	position: absolute;
	box-shadow: 0px 0px 5px blue;
	padding: 5px;
	text-align: center;
	font-size: 20px;
}
.stages span
{
	font-size: 25px;
	font-weight: bold;
}
#identify
{
	margin-left: 590px;
	background-color: lightgreen;
}
#construct
{
	margin-top: 290px;
	background-color: pink;
}
#design
{
	margin-left: 590px;
	margin-top: 290px;
	background-color: orange;
}
#evaluate
{
	background-color: yellow;
}
