body
{
	/*background-color: rgb(218, 194, 255);*/
}
#wait
{
	z-index: 100;
	width: 100%;
	background-color: #474e5d;
	position: fixed;
	opacity: 0.9;
	height: 100%;
	display: none;
}
#loader 
{
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	margin:auto;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#wait h1
{
	color: white;
	left: 50%;
	text-align: center;
}
#wait > div
{
	padding: 20px;
	opacity: 1;
	margin: auto;
}
.fab-container {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
}
.fab-icon-holder {
	width: 50px;
	height: 50px;
	background: white;
	/*box-shadow: 0 6px 20px rgba(0,0,0,0.2);*/
	border-radius: 100%;
}
.fab-icon-holder > img
{
	margin-left: 5px;
	margin-top: 5px;
}
.fab-container img
{
	width: 40px;
	height: 40px;
}
.fab {
	width: 60px;
	height: 60px;
	background: #d23f31;
}
.fab > img
{
	margin-top: 10px;
	margin-left: 10px;
}
.fab-options {
	list-style-type: none;
	dargin: 0;

	position: absolute;
	bottom: 70px;
	right: 0;

	opacity: 0;

	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.fab-label {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	background: #666666;
	color: #ffffff;
	/*box-shadow: 0 6px 20px rgba(0,0,0,0.2);*/
	margin-right: 10px;
}
#homeMenu
{
	width: 100%;
	height: 80px;
}
#logo
{
	width: 400px;
	height: 80px;
	display: inline-block;
	font-family: 'Cursive', 'Lucida Handwriting';
	background-color: white;
	text-align: center;
	font-size: 30px;
	margin-top: 0px;
	color: green;
	border-radius: 30px;
	font-weight: 10px;
	box-shadow: 0px 0px 10px blue;
}
#signin
{
	width: 120px;
	height: 80px;
	display: inline-block;
	float: right;
}
#profile
{
	width: 140px;
	height: 80px;
	display: inline-block;
	float: right;
}
#help
{
	width: 100px;
	height: 80px;
	display: inline-block;
	float: right;
}
#modelslide
{
	width: 60vw;
	height: 70vh;
	margin: auto;
	margin-top: 20px;
	/*box-shadow: 0px 0px 10px blue;*/
	border-radius: 10px;
}
#projectlist, #comments
{
	margin-top: 40px;
	width: 100%;
}
#helpbutton,#signinbutton, #profilebutton
{
	margin-top: 16px;
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 30px;
	box-shadow: 0px 0px 5px blue;
}
#helpbutton:hover, #signinbutton:hover, #profilebutton:hover
{
	background: #2196F3;
	color: white;
}
#logopng
{
	height: 80px;
	width: 80px;
	border-radius: 10px;
	margin-left: 20px;
}
#modelhead
{
	font-size: 30px;
	width: inherit;
	box-sizing: border-box;
	padding:10px;
	/*border-style: solid;
	border-width: 2px;*/
	box-shadow: 0px 0px 10px blue;
	text-align: center;
	/*background-color: rgb(192, 114, 247);*/
	/*border-radius: 10px;*/
}
.mySlides 
{
	display: none;
	width: inherit;
	height: inherit;
}
#modelContainer{
	margin: auto;
	height: 60vh;
	width: inherit;
	position: relative;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
#modelContainer img
{
	width: inherit;
	height: inherit;
	border-radius: 10px;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: blue;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.mySlides {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.projects
{
	max-width: 250px;
	text-align: center;
	font-family: arial;
	display: inline-block;
	background-color: pink;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 0px 0px 10px blue;
}
#comments ul li
{
	box-shadow: 0px 0px 5px blue;
	font-family: arial;
	background-color: pink;
	border-style: solid;
	margin-top: 5px;
	border-width: 2px;
	border-radius: 10px;
}
#comments ul li div h6, #comments ul li div p
{
	margin: 0px;
	padding: 5px;
}
#comments ul li div h6
{
	font-size: 15px;
}
#projectlist ul li h1
{
	margin: 0px;
	padding: 5px;
}
#projectlist ul li .author
{
	color: grey;
	font-size: 22px;
	padding: 4px;
	margin: 0px;
}
#projectlist ul li .description
{
	padding: 4px;
	margin: 0px;
}
#projectlist ul li .viewbutton button
{
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	transition: transform .2s;
}
#projectlist ul li img
{
	width: 250px;
	height: 200px;
}
#projectlist ul, #comments ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 500px;
}
.viewbutton button:hover
{
	transform: scale(1.05);
}
#yourProjects, #commenthead
{
	font-size: 30px;
	width: inherit;
	/*background-color: rgb(192, 114, 247);*/
	box-sizing: border-box;
	padding:10px;
	border-style: solid;
	/*border-width: 2px;*/
	box-shadow: 0px 0px 10px blue;
	/*border-radius: 10px;*/
}
#newProject
{
	background-color: rgb(192, 114, 247);
	height: 40px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border-width: 0px;
	box-shadow: 0px 0px 5px blue;
	float: right;
}
#newProject:hover
{
	background-color: rgb(144, 0, 247);
	color: white;
	cursor: pointer;
}

