body
{
	background-color: rgb(218, 194, 255);
}
#homeMenu
{
	padding: 5px;
}
#logo
{
	width: 400px;
	height: 80px;
	display: inline-block;
	font-family: 'Cursive', 'Lucida Handwriting';
	background-color: white;
	text-align: center;
	font-size: 30px;
	color: green;
	border-radius: 30px;
	font-weight: bold;
	box-shadow: 0px 0px 10px blue;
	float: left;
}
#modal
{
	z-index: 1;
	width: 100%;
	background-color: #474e5d;
	position: fixed;
	opacity: 0.9;
	height: 100%;
	display: none;
}
#modal button 
{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  width: 50%;
}
#modal button:hover 
{
  opacity:1;
}
#modal #yes
{
  background-color: #f44336;
  color: black;
}
#modal #no
{
  background-color: #ccc;
}
#modal h1, #modal p
{
	text-align: center;
}
#modal > div
{
	background-color: #fefefe;
	width: 600px;
	opacity: 1;
	margin: auto;
	margin-top: 100px;
	height: 200px;
	padding: 20px;
}
#projectname
{
	width: 400px;
	font-family: 'Cursive', 'Lucida Handwriting';
	display: inline-block;
	background-color: white;
	text-align: center;
	font-size: 30px;
	color: green;
	padding: 20px;
	float: left;
	border-radius: 30px;
	font-weight: bold;
	margin-left: 30px;
	box-shadow: 0px 0px 10px blue;
	margin-top: 0px;
}
#goback
{
	width: 120px;
	height: 80px;
	display: inline-block;
	float: right;
}
#help
{
	width: 100px;
	height: 80px;
	display: inline-block;
	float: right;
}
#helpbutton,#gobackbutton
{
	margin-top: 16px;
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 30px;
	box-shadow: 0px 0px 10px lightblue;
}
#helpbutton:hover, #gobackbutton:hover
{
	background: #2196F3;
	color: white;
}
#logopng
{
	height: 80px;
	width: 80px;
	border-radius: 10px;
	margin-left: 20px;
}
#projectBox
{
	display: grid;
	margin-top: 100px;
	width: 100%;
	grid-template-columns: 200px auto 300px;
	grid-gap: 10px;
	
}
#projectBox > div
{
	box-shadow: 0px 0px 10px blue;
	padding: 5px;
	box-sizing: border-box;
}
#options
{
	height: 263px;
}
#board
{
	height: 500px;
}
#options > button
{
	background-color: rgb(192, 114, 247);
	height: 40px;
	width: 190px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border-width: 0px;
	margin-top: 2px;
	box-shadow: 0px 0px 5px blue;
}
#options > button:hover
{
	background-color: rgb(144, 0, 247);
	color: white;
	cursor: pointer;
}
#notices, #upcomingmeets, #duetasks, #latestcommits
{
	margin-top: 5px;
	background-color: white;
	height: 150px;
	width: 280px;
	background-color: rgb(232, 186, 255);
	border-style: solid;
	border-width: 2px;
	box-shadow: 0px 0px 3px blue;
}
#noticeshead, #upcomingmeetshead, #duetaskshead, #commits
{
	width: inherit;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
	background-color: rgb(162, 0, 255);
}
#duetasks ul, #upcomingmeets ul, #notices ul, #pretasks, #preNotices, #sprintTasks, #noticelist, #premeets, #overviewbox ul, #progressbox ul, #backlogsbox ul, #contributorsbox ul, #latestcommits ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 120px;
}
.containers {
	min-height: 100vh;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #111;
  }
  .timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
  }
  
  .timeline ul {
	list-style: none;
  }
  .timeline ul li {
	padding: 5px;
	max-width: 200px;
	background-color: #1e1f22;
	color: gray;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
  }
  .timeline ul li:last-child {
	margin-bottom: 0;
  }
  .timeline-content h1 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 10px;
  }
  .timeline-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
  }
  .timeline-content .date {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
	.timeline:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 2px;
	  height: 100%;
	  background-color: gray;
	}
	.timeline ul li {
	  width: 45%;
	  position: relative;
	  margin-bottom: 50px;
	}
	.timeline ul li:nth-child(odd) {
	  float: left;
	  clear: right;
	  transform: translateX(15px); 
	  border-radius: 20px 0px 20px 20px;
	  margin-left: 95px;
	}
	.timeline ul li:nth-child(even) {
	  float: right;
	  clear: left;
	  transform: translateX(-15px);
	  border-radius: 0px 20px 20px 20px;
	  margin-right: 95px;
	}
	.timeline ul li::before {
	  content: "";
	  position: absolute;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  background-color: gray;
	  top: 0px;
	}
	.timeline ul li:nth-child(odd)::before {
	  transform: translate(50%, -50%);
	  right: -25px;
	}
	.timeline ul li:nth-child(even)::before {
	  transform: translate(-50%, -50%);
	  left: -25px;
	}
	.timeline-content .date {
	  position: absolute;
	  color: white;
	  top: -20px;
	}
	.timeline ul li:hover::before {
	  background-color: aqua;
	}
  }
  
#duetasks ul::-webkit-scrollbar, #upcomingmeets ul::-webkit-scrollbar, #notices ul::-webkit-scrollbar, #latestcommits ul::-webkit-scrollbar
{
	display: none;
}
#duetasks ul li, #upcomingmeets ul li, #notices ul li, #pretasks li, #sprintTasks li, #noticelist li, #premeets, #latestcommits ul li
{
	margin-top: 5px;
}
#duetasks ul li div, #upcomingmeets ul li div, #latestcommits ul li div
{
	margin: 5px;
	border-radius: 5px;
}
#notices ul li div, #pretasks li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div, #latestcommits ul li div
{
	margin: 5px;
	background-color: lightyellow;
	padding: 3px;
	border-radius: 5px;
}
#pretasks li div, #preNotices li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div
{
	margin: 0px;
}
.thead, .mhead, .create, .nhead, #createsprint, #createscrum
{
	background-color: rgb(232, 130, 255);
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px blue;
	font-color: black;
}
.create, #createsprint, #createscrum
{
	margin-top: 5px;
	font-size: 20px;
	padding: 5px;
}
.tactive, .thead:hover, .nhead:hover, .mactive, .mhead:hover, .create:hover, #createsprint, #createscrum
{
	background-color: rgb(208, 0, 255);
}
.thead:after, .nhead:after, .mhead:after, .create:after, #createsprint, #createscrum
{
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.tactive:after, .mactive:after, .createactive:after
{
	content: '\2212';
}
#duetasks ul li div div, #upcomingmeets ul li div div, #latestcommits ul li div div
{
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: lightyellow;
	margin: 0px;
}
#duetasks ul li div div h5, #upcomingmeets ul li div div h5, #notices ul li div h5, #pretasks li div h5, #preNotices li div h5, #premeets li div h5, #sprintTasks li div h5, #noticelist li div h5, #backlogsbox ul li div h5, #latestcommits ul li div div h5
{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
#scrumbox h3, #scrumbox h2, #sprintbox h3, #sprintbox h2
{
	text-align: center;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}
#pretasks li div h6, #preNotices li div h6, #preNotices li div p, #pretasks li div p, #sprintTasks li div h6, #noticelist li div h6, #sprintTasks li div p, #noticelist li div p, #premeets li div h6, #premeets li div p, #backlogsbox ul li div h6, #backlogsbox ul li div > p, #board #notices li h5, #board #notices li p
{
	margin: 0px;
	padding: 0px;
}
#pretasks li div h6, #preNotices li div h6, #sprintTasks li div h6, #noticelist li div h6, #premeets li div h6, #backlogsbox ul li div h6
{
	font-size: 15px;
} 
#pretasks li div, #preNotices li div, #sprintTasks li div, #noticelist li div, #premeets li div, #backlogsbox ul li div 
{
	padding: 5px;
}
#pretasks, #premeets, #sprintTasks, #noticelist, #preNotices
{
	max-height: 400px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
	border-width: 1px;
	border-style: solid;
}
#pretasks li, #premeets li, #sprintTasks li, #noticelist li, #preNotices li
{
	padding: 5px;
}
#pretasks li div button, #preNotices li div button, #sprintTasks li div button, #noticelist li div button, #premeets li div button, #backlogsbox ul li div button
{
	margin:auto;
	margin-left: 50px;
	background-color: rgb(192, 114, 247);
	font-size: 15px;
	padding: 4px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	border-width: 0px;
	margin-top: 2px;
	box-shadow: 0px 0px 5px blue;
}
#pretasks li div button:hover, #preNotices li div button:hover, #sprintTasks li div button:hover, #noticelist li div button:hover, #premeets li div button:hover, #backlogsbox ul li div button:hover
{
	background-color: rgb(144, 0, 247);
	color: white;
}
#latestcommits ul li h3, #latestcommits ul li p
{
	margin: 0px;
	padding: 0px;
}
.title
{
	font-size: 25px;
	background-color: rgb(192, 114, 247);
	padding:3px;
	border-radius: 3px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
}
#createTask, #createmeet, #createNotice, .edit
{
	font-size: 15px;
	box-shadow: 0px 0px 5px blue;
	margin-top: 5px;
	border-radius: 3px;
	background-color: lightyellow;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.edit
{
	padding: 5px;
	max-height: 400px;
}
#createTask h4, #createmeet h4, #createNotice h4, .edit h4
{
	text-align: left;
	padding: 4px;
	margin: 0px;
	font-size: 20px;
}
#createTask label, #createmeet label, #createNotice label, .edit label
{
	display: block;
	font-size: 20px;
	color: black;
	font-weight: bold;
	padding: 3px;
}
#createTask input, #createTask textarea, #createmeet input, #createmeet textarea, #createNotice input, #createNotice textarea, .edit input, .edit textarea
{
	box-shadow: 0px 0px 5px blue;
	font-size: 18px;
	padding: 5px;
	border-width: 0px;
	display: block;
	margin: 4px;
}
#createTask button, #createmeet button, #createNotice button, .edit button
{
	margin-left: 10px;
	background-color: rgb(192, 114, 247);
	font-size: 15px;
	padding: 4px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	border-width: 0px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
}
#createTask #taskDescription, #createmeet #meetDescription, #createNotice #noticeDescription
{
	width: 400px;
	height: 100px;
}
#createTask button:hover, #createmeet button:hover, #createNotice button:hover, .edit button:hover
{
	background-color: rgb(144, 0, 247);
	color: white;
}
.id
{
	font-size: 25px;
	font-weight: bold;
	display: inline;
	font-family: cursive;
}
.value
{
	font-size: 22px;
	font-family: sans-serif;
	display: inline;
}
#overviewbox ul, #progressbox ul
{
	max-height: 1000px;
	padding: 5px;
}
#backlogsbox ul
{
	max-height: 1000px;
	padding: 5px;
}
#backlogsbox ul li
{
	margin-top: 2px;
}
#overviewbox ul li, #progressbox ul li, #backlogsbox > h4, #backlogsbox > p, #backlogsbox ul li > p
{
	border-radius: 10px;
	background-color: rgb(192, 114, 247);
	padding:5px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px blue;
}
#contributorsbox ul
{
	max-height: 1000px;
}
#contributorsbox ul li
{
	padding: 5px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: rgb(232, 130, 255);
	font-size: 20px;
}
#contributorsbox ul li button
{
	float: right;
	padding: 2px;
	background-color: rgb(192, 114, 247);
	border-radius: 3px;
	color: black;
	font-weight: bold;
	border-width: 0px;
}
#contributorsbox ul li button:hover
{
	background-color: rgb(144, 0, 247);
	box-shadow: 0px 0px 5px blue;
	color: white;
}
.folder:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px blue;
	color: white;
}
