<!DOCTYPE html>
<html lang="en">

	<head>
		{% load static %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel = 'stylesheet' href = "{% static 'profile.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src = "{% static 'profile.js' %}"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>

		<title>User Profile</title>
	</head>

	<body style = "background-color: rgb(218, 194, 255);padding: 5px;">
		<div id = 'wait'>
			<div>
				<h1>Please Wait</h1>
				<div id = 'loader'></div>
			</div>
		</div>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>
		<h2 style="font-style: italic; text-align:center">User Profile</h2>

		<div class="container" style="margin-top: 15px;">
			<div class="main-body">
				<div class="row gutters-sm">

					<div class="col-md-3 mb-3">

						<div class="card">
							<div class="card-body">
								<div class="d-flex flex-column align-items-center text-center">
									<img src="{% static 'student.png' %}" alt="Admin" class="rounded-circle" width="150">
									<div class="mt-3">
										<h4 id = 'username' >*User Name from Database*</h4>
										<p class="text-secondary mb-1">Full Stack Developer</p>
										<p class="text-muted font-size-sm"></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-9">
						<div class="card mb-3">
							<div class="card-body">
								<div id="ui">
									<h3>User Info</h3>
									<form class="form-group text-center" method="post" id="profile">
										<label>GitHub Access Token</label>
										<input type="text" id = 'token' name="username" class="form-control" value="GitHub Access Token">
										<br>
										<div class="row">
											<div class="col-lg-6">
												<label >E Mail</label>
												<input type="text" id = 'email' name="email" class="form-control" value="email from Database*">
											</div>
											<div class="col-lg-6">
												<label >GitHub User ID</label>
												<input type="text" id = 'githubid' name="githubid" class="form-control" value="GitHub ID from Database*">
											</div>
										</div>
										<br>
										<br>
										<input type="submit" name="submit" value="Update" class="btn btn-primary btn-lg" id="update">
										<br>
										<br>
										<input type="submit" name="submit" value="Change Password" class="btn btn-primary btn-lg" id="change">
										<div id = 'changePassword' class="row">
											<div class="col-lg-6">
												<label for="">Old Password:</label>
												<input type="password" name="password" class="form-control" id = 'oldpassword' placeholder="Enter Password">
											</div>
											<div class="col-lg-6">
												<label for="">New Password:</label>
												<input type="password" name="password" class="form-control" id = 'newpassword' placeholder="Enter Password">
											</div>
											<div class="col-lg-6">
												<label for="">Retype Password:</label>
												<input type="password" name="reTypePassword" class="form-control" id = 'reTypePassword' placeholder="Re-Enter Password">
											</div>
										<input type="submit" name="submit" value="Update Password" class="btn btn-primary btn-lg" id="updatePassword">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>




					<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous" ></script>

					<script src=""></script>


	</body>
</html>
