<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel = 'stylesheet' href = "{% static 'feedback.css' %}">
		<script src = "{% static 'feedback.js' %}"></script>
        <title>
			Feedback
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>

        <p align="center" >Feedback</p>


<div class="container">
    <div id="ui">
  <form action="" method="POST">

    <label for="rating">Please provide your Rating</label>
    <br>
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
      
      <br>
      
      <br>

    <label for="comments">Comments</label>
    <br>
    <textarea id="comments" name="comments" placeholder="Write something.." style="height:200px"></textarea>
    <br>
    <br>
    <label for="suggestions">Suggestions</label>
    <br>
    <textarea id="suggestions" name="suggestions" placeholder="Write something.." style="height:100px"></textarea>

    <br>
    <br>
    <div class="submit_button">
    <input type="submit" value="Submit" style="width:150px; height:60px;">
    </div>
  </form>
</div>
</div>

    </body>
</html>
