<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Software Project Mananger</title>
		<link rel = 'stylesheet' href = "{% static 'home.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<!--<script src = "{% static 'home.js' %}"></script>-->
	</head>
	<body>
		<div id = 'wait'>
			<div>
				<h1>Please Wait</h1>
				<div id = 'loader'></div>
			</div>
		</div>
		<div class="fab-container">
			<div class="fab fab-icon-holder">
				<img src = "{% static 'questionmark.png' %}"></img>
			</div>

			<ul class="fab-options">
				<li>
					<span class="fab-label">Feedback</span>
					<div class="fab-icon-holder">
						<img src = "{% static 'feedback.png' %}"></img>
					</div>
				</li><li>
					<span class="fab-label">Contact Us</span>
					<div class="fab-icon-holder">
						<img src = "{% static 'contact.png' %}"></img>
					</div>
				</li>
				<li>
					<span class="fab-label">Information</span>
					<div class="fab-icon-holder">
						<img src = "{% static 'info.png' %}"></img>
					</div>
				</li>
			</ul>
		</div>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'signin'>
				<button id ='signinbutton'>
					Sign In
				</button>
			</div>
			<div id = 'profile'>
				<button id = 'profilebutton'>
					My Profile
				</button>
			</div>
		</div>
		<div id = 'modelslide'>
			<div id = 'modelhead'>
				Models
			</div>
			<div id = 'modelContainer'>
				<div class="mySlides" style = "display:block">
					<img src= "{% static 'agile.jpeg' %}">
				</div>

				<div class="mySlides">
					<img src= "{% static 'spiral.jpeg' %}">
				</div>

				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>

			</div>
			<br>

			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span> 
				<span class="dot" onclick="currentSlide(2)"></span> 
				<span class="dot" onclick="currentSlide(3)"></span> 
			</div>
		</div>
		</div>
		<div id = 'projectlist'>
			<div id = 'yourProjects'>
				Your Projects
				<button id = 'newProject'>Create a New Project</button>
			</div>
			<ul>
			</ul>
		</div>
		<div id = 'comments'>
			<div id = 'commenthead'>
				Comments
			</div>
			<ul>
			</ul>
		</div>
	</body>
</html>
