<!DOCTYPE html>
<html>
	<head>
		<title>Software Project Mananger</title>
		<link rel = 'stylesheet' href = 'home.css'>
		<script src = 'home.js'></script>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>Logo and name</div>
			<div id = 'help'>Help</div>
			<div id = 'signin'>Signin</div>
		</div>
		<div id = 'modelslide'>
			Models slide
		</div>
		<div id = 'projectlist'>
			Project list
		</div>
		<div id = 'footnotes'>
			<div id = 'aboutus'>
				About Us
			</div>
			<div id = 'contactus'>
				Contact Us
			</div>
			<div id ='terms'>
				Terms and Conditions
			</div>
		</div>
	</body>
</html>
