<!DOCTYPE html>
<html>
	<head>
		<title>This is a index</title>
<style>
p{
	color: red;
	font-size: 20px;
}
div{
	background-color: blue;
	height: 200px;
	width: 200px;
}
</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		function DisplayingTasks(Objectarray)
		{
			var str="";
			for(object in Objectarray)
			{
				str+="<li><div><button class = 'thead'>";
				str+=" "+object.taskHeading;
				str+="</button><div><h5>";
				str+="Created on"+object.createdOn+" ";
				str+="Created By"+object.createdBy+" ";
				str+="</h5>";
				str+=object.taskDetails;
				str+="</div></div></li>";
			}
		}

		function DisplayingMeetings(Objectarray)
		{
			var str="";
			for(object in Objectarray)
			{
				str+="<li><div><button class = 'mhead'>";
				str+="Meeting on"+object +"</button>";//missing meeting on
				str+="<div><h5>";
				str+="Created on "+object.createdOn;
				str+="and Created by"=object.createdBy;
				str+="</h5><a>";
				str+="Link "+object.meetingLink;
				str+="</a><br>";
				str+="Description:"+object.purpose;
				str+="</div></div></li>";
			}
		}

		function DisplayingMeetingsEdit(Objectarray)
		{
			var str="";
			for(object in Objectarray)
			{
				str+="<li><div><h5>";
				str+="Meeting on"+objcet +"</h5><h6>";
				str+="Created on "+object.createdOn;
				str+="and Created by"=object.createdBy;
				str+="</h6><h6>";
				str+="Link "+object.meetingLink;
				str+="</h6><p>";
				str+="Description:"+object.purpose;
				str+="<button id = 'delete'>Delete Meeting</button>";
				str+="<button id = 'edit'>Edit Meeting</button>";
				str+="</div></li>";
			}
		}

		function DisplayingNotices()
		{
			var str="";
			for(object in Objectarray)
			{
				str+="<li><div><h5>Notice by:"+object.createdBy;
				str+="Posted on"+object.createdOn;
				str+="</h5><p>";
				str+="About the notice"+object.purpose;
				str+="</p></div></li>";
			}
		}

		function DisplayingNoticesEdit()
		{
			var str="";
			for(object in Objectarray)
			{
				str+="<li><div><h6>";
				str+="Created on "+object.createdOn;
				str+="and Created by"=object.createdBy;
				str+="Description:"+object.purpose;
				str+="</p><button id = 'delete'>Delete Notice</button>";
				str+="<button id = 'edit'>Edit Notice</button>";
				str+="</div></li>";
			}
		}

		function DisplayingTasksEdit(Objectarray)
		{
			var str="";
			i=1;
			for(object in Objectarray)
			{
				str+="<li><div><h5>";
				str+="Task"+toString(i);
				str+=object.taskHeading+"</h5><h6>";
				if(object.completed==1)
				str+="Done";
				else
				str+="Pending";
				str+=" "+object.createdBy+" "+object.createdOn+"</h6>";
				str+="<p>Description:"+object.taskDetails+"</p>";
				str+="<button id = 'delete'>Delete Task</button><button id = 'edit'>Edit Task</button></div></li>";
				i++;
			}
		function to_getNotices(table_name, number)
		{
			var result;
		//	console.log($('input[name=csrfmiddlewaretoken').val());
			$.ajax(
				{
					type: "POST",
					url: "to_getNoticesPy",
					data: {
						table_name: table_name,
						number: number
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
					},
					success: function(data){
						//console.log(data);
						result = JSON.parse(data);
						console.log(result);
					}
				}
			)

			return result;
		}

		function to_getComments(number)
		{
			var result;
		//	console.log($('input[name=csrfmiddlewaretoken').val());
			$.ajax(
				{
					type: "POST",
					url: "to_getCommentsPy",
					data: {
						number: number
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
					},
					success: function(data){
						console.log(data);
						result = JSON.parse(data);
						console.log(result);
					}
				}
			)

			return result;
		}

		function meetingFunction(table_name, type_, id, createdBy, meetingLink, createdOn, purpose)
		{
			$.ajax(
				{
					type: "POST",
					url: "meetingFunctionPy",
					data: {
						table_name: table_name,
						type_: type_,
						id: id,
						createdBy: createdBy,
						meetingLink: meetingLink,
						createdOn: createdOn,
						purpose: purpose
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
					},
					success: function(data){
						console.log(data);
					}
				}
			)
		}

		function taskFunction(table_name, type_, id, createdBy, taskHeading, taskDetails, createdOn, completed, deadline)
		{
			$.ajax(
				{
					type: "POST",
					url: "taskFunctionPy",
					data: {
						table_name: table_name,
						type_: type_,
						id: id,
						createdBy: createdBy,
						taskHeading: taskHeading,
						taskDetails: taskDetails,
						createdOn: createdOn,
						completed: completed,
						deadline: deadline
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
					},
					success: function(data){
						console.log(data);
					}
				}
			)
		}

		function noticeFunction(table_name, type_, id, createdBy, createdOn, description)
		{
			$.ajax(
				{
					type: "POST",
					url: "noticeFunctionPy",
					data: {
						table_name: table_name,
						type_: type_,
						id: id,
						createdBy: createdBy,
						createdOn: createdOn,
					  description: description
						//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
					},
					success: function(data){
						console.log(data);
					}
				}
			)
		}

		document.addEventListener('DOMContentLoaded', function(){

				console.log(to_getComments(2));

			/*	document.querySelector('p').onmouseover = () => {
					document.querySelector('p').style.color = 'blue';
				}
				document.querySelector('p').onmouseout = () => {
					document.querySelector('p').style.color = 'red';
				}
				// sample get
				document.querySelector('#button1').onclick = (e) =>{
					e.preventDefault();
					$.ajax(
						{
							type: "GET",
							url: "testGET",
							success: function(data){
								// on successfully getting the value do whatever you want
								document.querySelector('#you').innerHTML = data;
							}

						}
						)
				};
				// sampel post
				document.querySelector('#button2').onclick = (e) =>{
					e.preventDefault();
					$.ajax(
						{
							type: "POST",
							url: "testPOST",
							data: {
								userinput: document.querySelector('#in').value,
								//csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
							},
							success: function(data){
								document.querySelector('#you').innerHTML = document.querySelector('#you').innerHTML + data;
							}
						}
					)
				};*/
			});
	</script>
	</head>
	<body>

		<p>This is body</p>
		<div>
			<form>
				{% csrf_token %}
				<input type = "text", id = 'in'>
				<button type = "submit" id = 'button2'>Post</button>
				<button id = 'button1'>get</button>
			</form>
		</div>
		<div id = 'you'>
		</div>
	</body>
</html>
