<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href = 'login.css'>
		<title>
			Login page
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = 'logo.png' align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>
		<div class="center">
			<h1>Sign in</h1>
			<form class="" action="" method="post">
				<div class="txt_field">
					<input type="email" name="email" value="" required placeholder='Username'>
					<span></span>
					<label>Email</label>
				</div>
				<div class="txt_field">
					<input type="password" name="password" value="" required placeholder='Password'>
					<span></span>
					<label>Password</label>
				</div>

				<input type="submit" name="submit" value="Login">
			</form>
				<button class="reghere">Register</button>
		</div>
	</body>
</html>
