<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel = 'stylesheet' href = "{% static 'newProject.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src = "{% static 'newProject.js' %}"></script>
		<title>
			New Project
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>

		<div class="container">
			<div class="row">
			  <div class="col-lg-3"></div>
		
			  <div class="col-lg-6">
				<div id="ui">
				  <h1 align = "center">New Project</h1>
				  <br/>
				  <form class="form-group text-center" action="" method="POST" id="new_project">
					<div class="row">
					  <div >
						<label for="" align="left"><h4>Name of the Project</h4> </label>
						<input type="text" name="name" class="form-control" id = 'name' placeholder="Enter Name">
					  </div>
					  
					</div>
					<br>
					<div >
						<label for="empty-space"><h4>Type of Model</h4></label>
						<select class="form-control" name="type">
						  <option>-Select-</option>
						  <option>Agile Model</option>
						  <option>Waterfall Model</option>
						  <option>Spiral Model</option>
						</select>
					  </div>
					  <br/>
					<label><h4>Repo Name</h4></label>
					<input type="text" name="repoName" id = 'repo' class="form-control" placeholder="Enter GitHub repository name">
					<br>
					<label><h4>Description</h4></label>
					<input type="text" name="repo" class="form-control" id = 'des' placeholder="Description for the project">
					<br>
					<br>
					<input id = 'save' type="submit" name="submit" value="Create" class="btn btn-primary btn-lg">
				  </form>
				</div>
			  </div>
		
			  <div class="col-lg-3"></div>
			</div>
		  </div>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		</body>
	</body>
</html>
