<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel = 'stylesheet' href = "{% static 'project.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src = "{% static 'project.js' %}"></script>
		<title>
			Project Name
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'projectname'>
				Project Name
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>
		<div id = 'projectBox'>
			<div id = 'options'>
				<button id = 'overview'>
					Overview
				</button>
				<button id = 'currentscrum'>
					Current Scrum
				</button>
				<button id = 'currentsprint'>
					Current Sprint
				</button>
				<button id = 'productbacklogs'>
					Product Backlogs
				</button>
				<button id = 'progress'>
					Progress
				</button>
				<button id = 'timeline'>
					Timeline
				</button>
				<button id = 'Contributors'>
					Contributors 
				</button>
			</div>
			<div id = 'display'>
				<div id = 'overviewbox'>
					<ul>
						<li>
							<p class = 'id'>Name of the Project: </p><p class = 'value'>Software Project Manager</p>
						</li>
						<li>
							<p class = 'id'>Created By         : </p><p class = 'value'>Team 3</p>
						</li>
						<li>
							<p class = 'id'>Created On         : </p><p class = 'value'>15-09-2021</p>
						</li>
						<li>
							<p class = 'id'>Contributors       : </p><p class = 'value'>Yashwanth, Vaibhav, Nitesh, Poorna</p>
						</li>
						<li>
							<p class = 'id'>Sprint Number      : </p><p class = 'value'>1</p>
						</li>
						<li>
							<p class = 'id'>Scrum Number       : </p><p class = 'value'>10</p>
						</li>
					</ul>
				</div>
				<div id = 'scrumbox'>
					<h2>Scrum number, start date, finish time</h2>
					<h3>Time for the current scrum to complete:</h3>
					<div class = 'title'>Tasks for this scrum</div>
					<div>
						<ul id = 'pretasks'>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
						</ul>
						<button class = 'create'>Create a New Task</button>
						<form id = 'createTask'>
							<h4>Create New Task</h4>
							<label for = 'taskname'>Task Title</label>
							<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
							<label for = 'taskDescription'>Description</label>
							<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
							<button type='submit'>Create</button>
						</form>
					</div>
					<div class = 'title'>Meetings scheduled for this scrum</div>
					<div>
						<ul id = 'premeets'>
							<li>
								<div>
									<h5>Meeting1</h5>
									<h6>Status created by created on</h6>
									<h6>link</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Meeting</button>
									<button id = 'edit'>Edit Meeting</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Meeting</h4>
									<label for = 'meetingtopic'>Topic</label>
									<input type='text' id = 'meetingtopic' name = 'meetingtopic' placeholder='Topic of the Meeting'>
									<label for = 'meetingtime'>Date and Time</label>
									<input type='text' id = 'meetingtime' name = 'meetingtime' placeholder='Date and time of the Meeting'>
									<label for = 'meetinglink'>Link</label>
									<input type='text' id = 'meetinglink' name = 'meetinglink' placeholder='Link to the Meeting'>
									<label for = 'meetDescription'>Purpose</label>
									<textarea type='text' id = 'meetDescription' name='meetDescription' placeholder='Describe the Purpose'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Meeting2</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Meeting</button>
									<button id = 'edit'>Edit Meeting</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Meeting</h4>
									<label for = 'meetingtopic'>Topic</label>
									<input type='text' id = 'meetingtopic' name = 'meetingtopic' placeholder='Topic of the Meeting'>
									<label for = 'meetingtime'>Date and Time</label>
									<input type='text' id = 'meetingtime' name = 'meetingtime' placeholder='Date and time of the Meeting'>
									<label for = 'meetinglink'>Link</label>
									<input type='text' id = 'meetinglink' name = 'meetinglink' placeholder='Link to the Meeting'>
									<label for = 'meetDescription'>Purpose</label>
									<textarea type='text' id = 'meetDescription' name='meetDescription' placeholder='Describe the Purpose'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Meeting2</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Meeting</button>
									<button id = 'edit'>Edit Meeting</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Meeting</h4>
									<label for = 'meetingtopic'>Topic</label>
									<input type='text' id = 'meetingtopic' name = 'meetingtopic' placeholder='Topic of the Meeting'>
									<label for = 'meetingtime'>Date and Time</label>
									<input type='text' id = 'meetingtime' name = 'meetingtime' placeholder='Date and time of the Meeting'>
									<label for = 'meetinglink'>Link</label>
									<input type='text' id = 'meetinglink' name = 'meetinglink' placeholder='Link to the Meeting'>
									<label for = 'meetDescription'>Purpose</label>
									<textarea type='text' id = 'meetDescription' name='meetDescription' placeholder='Describe the Purpose'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
						</ul>
						<button class = 'create'>Create a New Meeting</button>
						<form id = 'createmeet'>
							<h4>Create New Meeting</h4>
							<label for = 'meetingtopic'>Topic</label>
							<input type='text' id = 'meetingtopic' name = 'meetingtopic' placeholder='Topic of the Meeting'>
							<label for = 'meetingtime'>Date and Time</label>
							<input type='text' id = 'meetingtime' name = 'meetingtime' placeholder='Date and time of the Meeting'>
							<label for = 'meetinglink'>Link</label>
							<input type='text' id = 'meetinglink' name = 'meetinglink' placeholder='Link to the Meeting'>
							<label for = 'meetDescription'>Purpose</label>
							<textarea type='text' id = 'meetDescription' name='meetDescription' placeholder='Describe the Purpose'></textarea>
							<button type='submit'>Create</button>
						</form>
					</div>
				</div>
				<div id = 'sprintbox'>
					<h2>Sprint number, start date, finish time</h2>
					<h3>Time for the current Sprint to complete:</h3>
					<div class = 'title'>Tasks for this Sprint</div>
					<div>
						<ul id = 'sprintTasks'>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
							<li>
								<div>
									<h5>Task1</h5>
									<h6>Status created by created on</h6>
									<p>Description:</p>
									<button id = 'delete'>Delete Task</button>
									<button id = 'edit'>Edit Task</button>
								</div>
								<form class = 'edit'>
									<h4>Edit Task</h4>
									<label for = 'taskname'>Task Title</label>
									<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
									<label for = 'taskDescription'>Description</label>
									<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
									<button type='submit'>Save</button>
									<button>Cancel</button>
								</form>
							</li>
						</ul>
						<button class = 'create'>Create a New Task</button>
						<form id = 'createTask'>
							<h4>Create New Task</h4>
							<label for = 'taskname'>Task Title</label>
							<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
							<label for = 'taskDescription'>Description</label>
							<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
							<button type='submit'>Create</button>
						</form>
					</div>
				</div>
				<div id = 'backlogsbox'>
					<h4>Product Backlogs</h4>
					<p>Path :root/</p>
					<ul>
						<li>
							<p class = 'folder'>FolderName</p>
						</li>
						<li>
							<p class = 'folder'>FolderName</p>
						</li>
						<li>
							<p class = 'folder'>FolderName</p>
						</li>
						<li>
							<div>
								<h5>Task1</h5>
								<h6>Status created by created on</h6>
								<p>Description:</p>
								<button id = 'delete'>Delete Task</button>
								<button id = 'edit'>Edit Task</button>
							</div>
							<form class = 'edit'>
								<h4>Create New Task</h4>
								<label for = 'taskname'>Task Title</label>
								<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
								<label for = 'taskDescription'>Description</label>
								<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
								<button type='submit'>Save</button>
								<button>Cancel</button>
							</form>
						</li>
					</ul>
					<button class = 'create'>Create a New Task</button>
					<form id = 'createTask'>
						<h4>Create New Task</h4>
						<label for = 'taskname'>Task Title</label>
						<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
						<label for = 'taskDescription'>Description</label>
						<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
						<button type='submit'>Create</button>
					</form>
					<button class = 'create'>Create a New Folder</button>
					<form id = 'createTask'>
						<h4>Create New Folder</h4>
						<label for = 'taskname'>FolderName</label>
						<input type='text' id = 'taskname' name = 'taskname' placeholder='New Folder name'>
						<button type='submit'>Create</button>
					</form>
				</div>
				<div id = 'progressbox'>
				</div>
				<div id = 'timelinebox'>
				</div>
				<div id = 'contributorsbox'>
					<h4 class = 'title'>List of Contributors</h4>
					<ul>
						<li>
							Nitesh
							<button>Remove</button>
						</li>
						<li>
							Vaibhav
							<button>Remove</button>
						</li>
						<li>
							Yashwanth
							<button>Remove</button>
						</li>
						<li>
							Poorna
							<button>Remove</button>
						</li>
					</ul>
					<button class = 'create'>Add a New Contributor</button>
					<form id = 'createTask'>
						<h4>Add New Contributor</h4>
						<label for = 'taskname'>Username</label>
						<input type='text' id = 'taskname' name = 'taskname' placeholder='Username'>
						<button type='submit'>Add</button>
					</form>
				</div>
			</div>
			<div id = 'board'>
				<div id = 'notices'>
					<div id = 'noticeshead'>
						Notices
					</div>
					<ul>
						<li>
							<div>
								<h5>Notice by: posted on</h5>
								<p>Information about the notice</p>
							</div>
						</li>
						<li>
							<div>
								<h5>Notice by: posted on</h5>
								<p>Information about the notice</p>
							</div>
						</li>
						<li>
							<div>
								<h5>Notice by: posted on</h5>
								<p>Information about the notice</p>
							</div>
						</li>
					</ul>
				</div>
				<div id = 'upcomingmeets'>
					<div id = 'upcomingmeetshead'>
						Upcoming Meetings
					</div>
					<ul>
						<li>
							<div>
								<button class = 'mhead'>Meeting on(date and time</button>
								<div><h5>Created on and Created by</h5><a>Link</a><br>Description: the description of the meeting will be here</div>
							</div>
						</li>
						<li>
							<div>
								<button class = 'mhead'>Meeting on(date and time)</button>
								<div><h5>Created on and Created by</h5><a>Link</a><br>Description: the description of the meeting will be here</div>
							</div>
						</li>
						<li>
							<div>
								<button class = 'mhead'>Meeting on(date and time)</button>
								<div><h5>Created on and Created by</h5><a>Link</a><br>Description: the description of the meeting will be here</div>
							</div>
						</li>
					</ul>
				</div>
				<div id = 'duetasks'>
					<div id = 'duetaskshead'>
						Tasks to be done
					</div>
					<ul>
						<li>
							<div>
								<button class = 'thead'>Task</button>
								<div><h5>Created on and Created by</h5>Description: the description of the task will be here</div>
							</div>
						</li>
						<li>
							<div>
								<button class = 'thead'>Task</button>
								<div><h5>Created on and Created by</h5>Description: the description of the task will be here</div>
							</div>
						</li>
						<li>
							<div>
								<button class = 'thead'>Task</button>
								<div><h5>Created on and Created by</h5>Description: the description of the task will be here</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
