<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href = 'project.css'>
		<script src = 'project.js'></script>
		<title>
			Project Name
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>Logo and name</div>
			<div id = 'projectdetails'>
				Project Details
			</div>
			<div id = 'help'>Help</div>
			<div id = 'goback'>Go Back</div>
		</div>
		<div id = 'projectBox'>
			<div id = 'options'>
				<div id = 'overview'>
					Overview
				</div>
				<div id = 'meetings'>
					Meetings
				</div>
				<div id = 'tasks'>
					Tasks
				</div>
				<div id = 'currentscrum'>
					Current Scrum
				</div>
				<div id = 'currentsprint'>
					Current Sprint
				</div>
				<div id = 'productbacklogs'>
					Product Backlogs
				</div>
				<div id = 'progress'>
					Progress
				</div>
				<div id = 'timeline'>
					Timeline
				</div>
				<div id = 'Contributors'>
					Contributors 
				</div>
			</div>
			<div id = 'display'>
				<div id = 'overviewbox'>
				</div>
				<div id = 'meetingsbox'>
				</div>
				<div id = 'tasksbox'>
				</div>
				<div id = 'scrumbox'>
				</div>
				<div id = 'sprintbox'>
				</div>
				<div id = 'backlogsbox'>
				</div>
				<div id = 'progressbox'>
				</div>
				<div id = 'timelinebox'>
				</div>
			</div>
			<div id = 'board'>
				<div id = 'notices'>
					Notices
				</div>
				<div id = 'upcomingmeets'>
					Upcoming Meetings
				</div>
				<div id = 'duetasks'>
					Tasks to be done
				</div>
			</div>
		</div>
	</body>
</html>
