<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel = 'stylesheet' href = "{% static 'project.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src = "{% static 'project.js' %}"></script>
		<title>
			Project Name
		</title>
	</head>
	<body>
		<div id = 'modal'>
			<div>
				<h1>Delete Task</h1>
				<p>Are you sure you want to delete the task</p>
				<button id = 'yes'>Yes</button>
				<button id = 'no'>No</button>
			</div>
		</div>
		<div id = 'homeMenu'>
			<div id = 'logo'>
				<img id = 'logopng' src = "{% static 'logo.png' %}" align= 'left'></img>
				Software Project Manager
			</div>
			<div id = 'projectname'>
				Project Name
			</div>
			<div id = 'help'>
				<button id = 'helpbutton'>
					Help
				</button>
			</div>
			<div id = 'goback'>
				<button id ='gobackbutton'>
					GoBack
				</button>
			</div>
		</div>
		<div id = 'projectBox'>
			<div id = 'options'>
				<button id = 'overview'>
					Overview
				</button>
				<button id = 'currentscrum'>
					Current Scrum
				</button>
				<button id = 'currentsprint'>
					Current Sprint
				</button>
				<button id = 'progress'>
					Progress
				</button>
				<button id = 'Contributors'>
					Contributors 
				</button>
				<button id = 'notices'>
					Notices
				</button>
			</div>
			<div id = 'display'>
				<div id = 'overviewbox'>
					<ul>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
						<li>
						</li>
					</ul>
				</div>
				<div id = 'scrumbox'>
					<button id = 'createscrum' >Click here to create a new scrum</button>
					<div id = 'scrum'>
						<h2>Time for the current scrum to complete:</h2>
						<h3></h3>
						<div class = 'title'>Tasks for this scrum</div>
						<div>
							<ul id = 'pretasks'>
							</ul>
							<button class = 'create' id = 'createScrumTaskButton' >Create a New Task</button>
							<form id = 'createTask'>
								<h4>Create New Task</h4>
								<label for = 'taskname'>Task Title</label>
								<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
								<label for = 'taskDescription'>Description</label>
								<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
								<button type='submit'>Create</button>
							</form>
						</div>
						<div class = 'title'>Meetings scheduled for this scrum</div>
						<div>
							<ul id = 'premeets'>
							</ul>
							<button class = 'create' id = 'createScrumMeetButton' >Create a New Meeting</button>
							<form id = 'createmeet'>
								<h4>Create New Meeting</h4>
								<label for = 'meetingtime'>Time</label>
								<input type='time' id = 'meetingtime' name = 'meetingtime' placeholder='Time of the Meeting'>
								<label for = 'meetingDate'>Date</label>
								<input type='date' id = 'meetingDate' name = 'meetingDate' placeholder='yyyy-mm-dd'>
								<label for = 'meetinglink'>Link</label>
								<input type='text' id = 'meetinglink' name = 'meetinglink' placeholder='Link to the Meeting'>
								<label for = 'meetDescription'>Purpose</label>
								<textarea type='text' id = 'meetDescription' name='meetDescription' placeholder='Describe the Purpose'></textarea>
								<button type='submit'>Create</button>
							</form>
						</div>
					</div>
				</div>
				<div id = 'sprintbox'>
					<button id = 'createsprint'>Click here to create a new sprint</button>
					<div id = 'sprint'>
					<h2>Time for the current sprint to complete:</h2>
					<h3></h3>
						<div class = 'title'>Tasks for this Sprint</div>
						<div>
							<ul id = 'sprintTasks'>
							</ul>
							<button class = 'create' id = 'createSprintTaskButton'>Create a New Task</button>
							<form id = 'createTask'>
								<h4>Create New Task</h4>
								<label for = 'taskname'>Task Title</label>
								<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
								<label for = 'taskDescription'>Description</label>
								<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
								<button type='submit'>Create</button>
							</form>
						</div>
					</div>
				</div> 
				<div id = 'backlogsbox'>

	    <h4>Product Backlogs</h4>
	    <p>Path :root/</p>
	    <ul>
	    <li>
	    <p class = 'folder'>FolderName</p>
	    </li>
	    <li>
			<div>
			<h5>Task1</h5>
			<h6>Status created by created on</h6>
			<p>Description:</p>
			<button id = 'delete'>Delete Task</button>
			<button id = 'edit'>Edit Task</button>
			</div>
			<form class = 'edit'>
				<h4>Create New Task</h4>
				<label for = 'taskname'>Task Title</label>
				<input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
				<label for = 'taskDescription'>Description</label>
				<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
				<button type='submit'>Save</button>
				<button>Cancel</button>
			</form>
	    </li>
	    </ul>
	    <button class = 'create'>Create a New Task</button>
	    <form id = 'createTask' class = 'createBacklog'>
	    <h4>Create New Task</h4>
	    <label for = 'taskname'>Task Title</label>
	    <input type='text' id = 'taskname' name = 'taskname' placeholder='New Task name'>
	    <label for = 'taskDescription'>Description</label>
	    <textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Describe the task'></textarea>
	    <button type='submit'>Create</button>
	    </form>
	    <button class = 'create'>Create a New Folder</button>
	    <form id = 'createTask' class = 'createfolder'>
	    <h4>Create New Folder</h4>
	    <label for = 'taskname'>FolderName</label>
	    <input type='text' id = 'taskname' name = 'taskname' placeholder='New Folder name'>
	    <button type='submit'>Create</button>
	    </form>
		<div class="container mt-5">
			<div class="row">
				<div class="col"><!-- for scrum -->
					<h4>Current Scrum</h4>
					amount of time
					<progress id="prog_scrumtime" value="40" max="100"></progress>
					<br>
					number of tasks
					<progress id="prog_scrumtask" value="40" max="100"></progress>
					<ul>
						<li>
							Poorna completed 5 tasks
						</li>
					</ul>
					<p id="scrumavg_tasks">Average number of tasks : </p>
					<p id="scrum_Productivity">Productivity : </p>
					<p id="scrum_tasks">number of tasks completed vs no of tasks planned per scrum :</p>
					<p id="scrum_avg_time">Average time : </p>
				</div>
				<div class="col"><!-- for sprint -->
					<h4>Current Sprint</h4>
					amount of time
					<progress id="prog_sprinttime" value="40" max="100"></progress>
					<br>
					number of tasks
					<progress id="prog_sprinttask" value="40" max="100"></progress>
					<ul>
						<li>
							Poorna completed 5 tasks
						</li>
					</ul>
					<p id="sprintavg_tasks">Average number of tasks : </p>
					<p id="sprint_Productivity">Productivity : </p>
					<p id="sprint_tasks">number of tasks completed vs no of tasks planned per sprint :</p>
					<p id="scrum_avg_time">Average time : </p>
				</div>
				<script>
					setvalues();
					</script>
			</div>	
		</div>
		<button class="time" onclick="get_timeline">get timeline </button>
		<div class="containers">
			<div class="timeline">
				<ul class="myList">
					<li>
						<div class="timeline-content">
							<h3 class="date">20th may, 2010</h3>
							<p>note dshbvjhawjer</p>
						  </div>
					</li>
					<li>
						<div class="timeline-content">
							<h3 class="date">20th may, 2010</h3>
							<p>note sdgerdg</p>
						  </div>
					</li>
					<li>
						<div class="timeline-content">
							<h3 class="date">20th may, 2010</h3>
							<p>note dshbvjhawjer</p>
						  </div>
					</li><li>
						<div class="timeline-content">
							<h3 class="date">20th may, 2010</h3>
							<p>note dshbvjhawjer</p>
						  </div>
					</li><li>
						<div class="timeline-content">
							<h3 class="date">20th may, 2010</h3>
							<p>note dshbvjhawjer</p>
						  </div>
					</li>
				</ul>
			</div>
		</div>
		
	    </div>
				<div id = 'progressbox'>
		    <!-- Progress analysis is part of release 2 -->
			
			
			
		</div>
	    <div id = 'timelinebox'>
			
	    </div>
				<div id = 'contributorsbox'>
					<h4 class = 'title'>List of Contributors</h4>
					<ul>
						<li>
						</li>
					</ul>
					<button class = 'create'>Add a New Contributor</button>
					<form id = 'createTask'>
						<h4>Add New Contributor</h4>
						<label for = 'taskname'>Username</label>
						<input type='text' id = 'taskname' name = 'taskname' placeholder='Username'>
						<button type='submit'>Add</button>
					</form> 

				</div>
				<div id = 'noticesbox'>
					<div class = 'title'>Notices</div>
					<div>
						<ul id = 'noticelist'>
						</ul>
						<button class = 'create' id = 'createNoticeButton'>Create a New Notice</button>
						<form id = 'createNotice'>
							<h4>Create New Notice</h4>
							<label for = 'taskname'>Notice</label>
							<input type='text' id = 'taskname' name = 'taskname' placeholder='New Notice'>
							<label for = 'taskDescription'>Description</label>
							<textarea type='text' id = 'taskDescription' name='taskDescription' placeholder='Description'></textarea>
							<button type='submit'>Create</button>
						</form>
					</div>
				</div>
			</div>
			<div id = 'board'>
				<div id = 'notices'>
					<div id = 'noticeshead'>
						Notices
					</div>
					<ul>
					</ul>
				</div>
				<div id = 'upcomingmeets'>
					<div id = 'upcomingmeetshead'>
						Upcoming Meetings
					</div>
					<ul>
					</ul>
				</div>
				<div id = 'duetasks'>
					<div id = 'duetaskshead'>
						Tasks to be done
					</div>
					<ul>
					</ul>
				</div>
				<div id='latestcommits'>
					<div id = 'commits'>
						Latest Commits
					</div>
					<ul>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
