<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href = 'register.css'>
		<title>
			Registration Page
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>Logo and name</div>
			<div id = 'help'>Help</div>
			<div id = 'goback'>Go Back</div>
		</div>
		<div id = 'registrationbox'>
			<div id = 'loginlogo'>
				logo
			</div>
			<div id = 'name'>
				Name
			</div>
			<div id = 'email'>
				Email
			</div>
			<div id = 'github'>
				Github username
			</div>
			<div id = 'username'>
				username
			</div>
			<div id = 'password'>
				password
			</div>
			<div id = 'register'>
				register
			</div>
		</div>
	</body>
</html>
