<!DOCTYPE html>
<html lang="en">

  <head>
        <%- include("../partials/admin.head.ejs", {title : "Profile"}) %>
        <meta charset="utf-8">
        <title>Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style type="text/css">


            body {
              background-image: -webkit-linear-gradient(65deg, #4AA96C 50%, #CEE6B4 50%);
              min-height: 1000px;
            }
        
            #ui {
              background-color: #333;
              padding: 30px;
              margin-top: 10px;
              border-radius: 10px;
              opacity: 0.9;
              font-weight: bold;
            }
        
            #ui label,
            h1 {
              color: #fff;
            }
          </style>
          <link rel="stylesheet" href="/static/css/profileStyle.css">
  </head>

  <body>

            <%- include('../partials/admin.nav.ejs') %>
            <div id="main">
              <div class="row">
          <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div id="ui">
                  <h1>Build Profile</h1>
                  <form class="form-group text-center" action="/admin/dashboard/editprofile/update" method="post">
                    <label>Full Name</label>
                    <input type="text" name="fullname" class="form-control" value="<%= data.fullname%>">
                    <br>
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="">Phone Number</label>
                        <input type="text" name="mobile" class="form-control" value="<%= data.mobile %>">
                      </div>
                      <div class="col-lg-6">
                        <label for="">e-mail</label>
                        <input type="text" name="email" class="form-control" value="<%= data.email %>">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="">Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password">
                      </div>
                      <div class="col-lg-6">
                        <label for="">Retype Password:</label>
                        <input type="password" name="reTypePassword" class="form-control" placeholder="Re-Enter Password">
                      </div>
                    </div>
                    <br>
                    <label for="">Address</label>
                        <input type="text" name="address" class="form-control" value="<%= data.address %>">
                    <br>
                    <input type="submit" name="submit" value="Save Changes" class="btn btn-primary btn-lg">
                  </form>
                </div>
              </div>
        
              <div class="col-lg-3"></div>
            </div>
          </div>
          <div class="col-lg-3"></div>
          </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
