<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href = 'newProject.css'>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>
			New Project
		</title>
	</head>
	<body>
		<!-- <div id = 'homeMenu'>
			<div id = 'logo'>Logo and name</div>
			<div id = 'help'>Help</div>
			<div id = 'goback'>Go Back</div>
		</div>
		<div id = 'newProjectBox'>
			<div id = 'name'>
				Name of the Project
			</div>
			<div id = 'model'>
				Life Cycle model
			</div>
			<div id = 'contributors'>
				Contributors
			</div>
			<div id = 'repositorylink'>
				Github Repo Link
			</div>
			<div id = 'create'>
				Create
			</div>
		</div> -->

		<div class="container">
			<div class="row">
			  <div class="col-lg-3"></div>
		
			  <div class="col-lg-6">
				<div id="ui">
				  <h1 align = "center">New Project</h1>
				  <br/>
				  <form class="form-group text-center" action="/student/dashboard/requests/send" method="POST">
					<div class="row">
					  <div >
						<label for="" align="left" aria-setsize="3">Name of the Project </label>
						<input type="text" name="name" class="form-control" placeholder="Enter Name">
					  </div>
					  
					</div>
					<br>
					<div >
						<label for="empty-space"></label>
						<select class="form-control" name="type">
						  <option>Location</option>
						  <option>Waterfall Model</option>
						  <option>Agile Model</option>
						  <option>-</option>
						  <option>--</option>
						</select>
					  </div>
					  <br/>
					<label></label>
					<input type="text" name="reason" class="form-control" placeholder="Enter Contributors Name's">
					<br>
					<label></label>
					<input type="text" name="repo" class="form-control" placeholder="Enter GitHub Repository link">
					<br>
					<br>
					<input type="submit" name="submit" value="Create" class="btn btn-primary btn-lg">
				  </form>
				</div>
			  </div>
		
			  <div class="col-lg-3"></div>
			</div>
		  </div>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		</body>
	</body>
</html>
