/* body
{
	background-color: lightpink;
}
#homeMenu
{
	width: 100%;
	height: 80px;
	background-color: lightblue;
}
#logo
{
	width: 30vw;
	height: 80px;
	display: inline-block;
	background-color: lightgreen;
}
#goback
{
	width: 80px;
	height: 80px;
	display: inline-block;
	float: right;
	background-color: red;
}
#help
{
	width: 80px;
	height: 80px;
	display: inline-block;
	float: right;
	background-color: lightgreen;
}
#newProjectBox
{
	background-color: purple;
	width: 400px;
	margin: auto;
	height: 300px;
	margin-top: 10px;
	padding-top: 10px;
}
#create
{
	height: 40px;
	width: 100px;
	margin: auto;
	margin-top: 10px;
	background-color: yellow;
}
#name, #model, #contributors, #repositorylink
{
	height: 40px;
	width: 300px;
	margin: auto;
	margin-top: 10px;
	background-color: yellow;
} */

body {
	background-color: #4BDBC3;
	background-image: -webkit-linear-gradient(65deg, #e0f051 50%,  50%); /*#F8F7DE*/
	min-height: 1000px;
  }

  #ui {
	background-color: #333;
	padding: 30px;
	margin-top: 50px;
	border-radius: 10px;
	opacity: 0.9;
	font-weight: bold;
  }

  #ui label,
  h1 {
	color: #fff;
  }