<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href = 'newProject.css'>
		<title>
			New Project
		</title>
	</head>
	<body>
		<div id = 'homeMenu'>
			<div id = 'logo'>Logo and name</div>
			<div id = 'help'>Help</div>
			<div id = 'goback'>Go Back</div>
		</div>
		<div id = 'newProjectBox'>
			<div id = 'name'>
				Name of the Project
			</div>
			<div id = 'model'>
				Life Cycle model
			</div>
			<div id = 'contributors'>
				Contributors
			</div>
			<div id = 'repositorylink'>
				Github Repo Link
			</div>
			<div id = 'create'>
				Create
			</div>
		</div>
	</body>
</html>
